<section class="py-8">
  <div class="container mx-auto px-6">
    <div class="mb-6 mx-5">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900">Browse By Category</h2>
    </div>

    <div class="mx-5 flex flex-nowrap items-center justify-between gap-4 overflow-x-auto pb-px">
      @for (cat of categories$ | async; track cat._id) {
        <a
          [routerLink]="['/browse']"
          [queryParams]="{ category: cat._id }"
          class="flex-1 block cursor-pointer"
        >
          <app-category-card [category]="cat"></app-category-card>
        </a>
      }
    </div>
  </div>
</section>
