<nav class="bg-white border-b px-8 py-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-3">
      <div class="bg-green-600 w-10 h-10 rounded-xl flex items-center justify-center">
        <span class="text-white text-lg">🌿</span>
      </div>

      <h1 class="text-2xl font-bold">
        <span>Save</span>
        <span class="text-green-600">Bite</span>
      </h1>
    </div>

    <div class="flex-1 flex justify-center px-10">
      <div class="w-full max-w-lg">
        <input z-input placeholder="Search restaurants or food..." zSize="default" />
      </div>
    </div>

    <div class="cursor-pointer flex items-center gap-6">
      <a class="text-green-600 font-medium">Home</a>
      <a class="text-gray-600 hover:text-green-600">Browse</a>
      <a class="text-gray-600 hover:text-green-600">Flash Deals</a>
      <button class="cursor-pointer bg-green-600 text-white px-5 py-2 rounded-full">Sign In</button>
    </div>
  </div>
</nav>
