<nav class="bg-white border-b sticky top-0 z-50 lg:px-15">
  <div class="flex items-center px-4 md:px-8 py-3">
    <div class="flex items-center gap-2 shrink-0">
      <div class="bg-green-600 w-8 h-8 rounded-lg flex items-center justify-center">
        <span class="text-white text-sm">🌿</span>
      </div>
      <h1 class="text-lg font-bold whitespace-nowrap">
        <span>Save</span>
        <span class="text-green-600">Bite</span>
      </h1>
    </div>

    <div class="hidden md:flex flex-1 justify-center px-6">
      <div class="w-full max-w-lg">
        <input
          #mainSearch
          z-input
          placeholder="Search restaurants or food..."
          zSize="default"
          class="w-full"
          (keyup.enter)="onSearch(mainSearch.value)"
        />
      </div>
    </div>

    <div class="hidden md:flex items-center gap-6 shrink-0">
      <a class="text-green-600 font-medium cursor-pointer">Home</a>
      <a class="text-gray-600 hover:text-green-600 cursor-pointer">Browse</a>
      <a class="text-gray-600 hover:text-green-600 cursor-pointer">Flash Deals</a>
      <button class="bg-green-600 text-white px-5 py-2 rounded-full">Sign In</button>
    </div>

    <button class="md:hidden ml-auto text-2xl" (click)="toggleMenu()">☰</button>
  </div>

  @if (isMenuOpen) {
    <div class="fixed inset-0 bg-white z-[999] p-6 md:hidden transition-all duration-300">
      <div class="flex justify-between items-center mb-6">
        <div class="flex items-center gap-2">
          <div class="bg-green-600 w-8 h-8 rounded-lg flex items-center justify-center">
            <span class="text-white text-sm">🌿</span>
          </div>
          <h1 class="text-lg font-bold">
            <span>Save</span>
            <span class="text-green-600">Bite</span>
          </h1>
        </div>

        <button class="text-2xl" (click)="toggleMenu()">✕</button>
      </div>

      <div class="mb-6">
        <input
          #mobileSearch
          z-input
          placeholder="Search..."
          zSize="default"
          class="w-full"
          (keyup.enter)="onSearch(mobileSearch.value)"
        />
      </div>

      <div class="flex flex-col gap-5 text-lg">
        <a class="hover:text-green-600 cursor-pointer">Home</a>
        <a class="hover:text-green-600 cursor-pointer">Browse</a>
        <a class="hover:text-green-600 cursor-pointer">Flash Deals</a>
      </div>

      <button class="mt-8 w-full bg-green-600 text-white py-3 rounded-lg">Sign In</button>
    </div>
  }
</nav>
