<nav class="bg-white border-b px-8 py-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-3">
      <div class="bg-green-600 w-10 h-10 rounded-xl flex items-center justify-center">
        <span class="text-white text-lg">🌿</span>
      </div>

      <h1 class="text-2xl font-bold">
        <span>Save</span>
        <span class="text-green-600">Bite</span>
      </h1>
    </div>

    <div class="flex-1 flex justify-center px-10">
      <div class="w-full max-w-lg">
        <input z-input placeholder="Search restaurants or food..." zSize="default" />
      </div>
    </div>

    <div class="cursor-pointer flex items-center gap-6">
      <a class="text-green-600 font-medium">Home</a>
      <a class="text-gray-600 hover:text-green-600">Browse</a>
      <a class="text-gray-600 hover:text-green-600">Flash Deals</a>
      <!-- Cart -->
      <div class="relative">
        <div
          class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-100 hover:bg-green-100 transition duration-200 cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-5 h-5 text-gray-700 hover:text-green-600 transition"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 7h14l-1 14H6L5 7zM9 7V5a3 3 0 016 0v2"
            />
          </svg>
        </div>

        <span
          class="absolute -top-1 -right-1 bg-green-600 text-white text-[10px] w-4 h-4 flex items-center justify-center rounded-full shadow"
        >
          2
        </span>
      </div>
      <button class="cursor-pointer bg-green-600 text-white px-5 py-2 rounded-full">Sign In</button>
    </div>
  </div>
</nav>
