<footer class="bg-gradient-to-r from-emerald-950 to-emerald-600 text-white pt-8 pb-6 px-7 pl-25">
  <div class="container mx-auto px-6">
    <div class="grid md:grid-cols-4 gap-10">
      <div>
        <div>
          <div class="flex items-center gap-2 mb-4">
            <div
              class="w-8 h-8 bg-emerald-500 rounded-lg flex items-center justify-center text-white font-bold"
            >
              🌿
            </div>
            <h2 class="text-xl font-semibold">SaveBite</h2>
          </div>

          <p class="text-sm text-emerald-200 leading-relaxed">
            Reducing food waste, one meal at a time. Save money, save the planet.
          </p>
        </div>
      </div>
      <div>
        <div>
          <h3 class="font-semibold text-lg mb-4">Discover</h3>
          <ul class="space-y-3 text-emerald-200 text-sm">
            <li><a href="#" class="hover:text-white transition">Browse Deals</a></li>
            <li><a href="#" class="hover:text-white transition">Flash Deals</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <h3 class="font-semibold text-lg mb-4">For Business</h3>
          <ul class="space-y-3 text-emerald-200 text-sm">
            <li><a href="#" class="hover:text-white transition">Dashboard Login</a></li>
            <li><a href="#" class="hover:text-white transition">Success Stories</a></li>
            <li><a href="#" class="hover:text-white transition">Resources</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <h3 class="font-semibold text-lg mb-4">Connect</h3>

          <ul class="space-y-3 text-emerald-200 text-sm mb-6">
            <li><a href="#" class="hover:text-white transition">Help Center</a></li>
            <li><a href="#" class="hover:text-white transition">Contact Us</a></li>
            <li><a href="#" class="hover:text-white transition">Privacy Policy</a></li>
          </ul>

          <div class="flex gap-4">
            <a
              href="#"
              class="w-9 h-9 bg-emerald-800 rounded-full flex items-center justify-center hover:bg-emerald-600 transition"
            >
              <i class="fa-brands fa-facebook-f text-sm"></i>
            </a>

            <a
              href="#"
              class="w-9 h-9 bg-emerald-800 rounded-full flex items-center justify-center hover:bg-emerald-600 transition"
            >
              <i class="fa-brands fa-twitter text-sm"></i>
            </a>

            <a
              href="#"
              class="w-9 h-9 bg-emerald-800 rounded-full flex items-center justify-center hover:bg-emerald-600 transition"
            >
              <i class="fa-brands fa-instagram text-sm"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
